body {
  background-color: rgb(200,200,200);
  font-family: sans-serif;
}

h1 {
  font-family: serif;
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  right: 0;
  top: 0;
  padding: 15px;
  background-color: red;
  color:white;
  z-index: 1000;
  display:none;
}

#sim div {
  font-family: serif; 
}

#sim button {
  margin-top: 10px;
}

.selected {
  width: 175px;
  background-color: blue;
}
